---

---
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{{site.baseurl}}/assets/css/main.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>


<base href="{{ site.baseurl }}">

{% if site.tags != "" %}
  {% include collecttags.html %}
{% endif %}
</head>

<body style="background-color: #f6f5f3;">
 <div class="postHeading">
    <div>
        <!-- Nav bar with social medias -->
        <div class="navBar"> 
                <a href="{{site.baseurl}}" class="home socMed" >{% include icons/home.html %}</a>      
                <a href="https://www.facebook.com/mali.princ2" target="_blank" class="socMed" >{% include icons/facebook.html %}</a>
                <a href="https://www.instagram.com/marljiva_marta/" target="_blank" class="socMed" >{% include icons/insta.html %}</a>
                <a href="https://twitter.com/Marta_Guth" target="_blank" class="socMed" >{% include icons/twitter.html %}</a>
                <a href="https://www.linkedin.com/feed/?trk=" target="_blank" class="socMed" >{% include icons/linkedin.html %}</a>    
        </div>
      </div>
        <!-- end of Nav bar with social medias -->
    
 </div>

 <div class="flex-container clearfix">

  <div class="bigger">
    <!-- All Posts -->
    <div>
        <h2 class="grey">All Posts</h2>
    </div>

    <div class="flex-container table">
      {% for post in site.posts %}
      <div class="category-box">
        <div class="whiteBox smallCategBlog">
            <a  href="{{site.baseurl}}{{ post.url }}">
                <img class="categ-img" src="{{site.baseurl}}{{ post.one_path }}" alt="beijing">
                <div class="smallBlogText">{{ post.blog_title }}
                <span class="postDate">{{ post.url | date: "%b %-d, %Y" }} </span></div>
            </a>
            <div>
                 <div class="blogContainer"> 
                     {{ post.excerpt }}
                </div>
            </div>    
       </div>
      </div>
{% endfor %}
  </div>
 </div>

<div class="smaller" style="margin:20px;">
   <div>
    <h2 class="grey">Search by tags</h2>
   </div>

   {% for tag in tags %}
   <div class="whiteBox tagBox">
  <a class="tagSearch" style="font-size:3vw;" href="tag/{{ tag | slugify }}" target=_blank >{{ tag }}</a>
  </div>
	<ul>
	 {% for post in site.posts %}
		 {% if post.tags contains tag %}
		 <li style="color:black;" class="category-box"><h3 class="whiteBox smallCategBlog"><a style="color:black;" href="{{site.baseurl}}{{ post.url }}">
		 {{ post.title }}
		 <small class="light">{{ post.date | date_to_string }}</small>
		 </a></h3></li>
		 {% endif %}
	 {% endfor %}
	</ul>
{% endfor %}
{% include algolia.html %}
   
</div>


{% include collecttags.html %}



</div>
<hr>
<!--
<div id="search-searchbar"></div>

    <div class="post-list" id="search-hits">

    <div class="flex-container table">
      {% for post in site.posts %}
            <div class="category-box">
                <div class="whiteBox smallCategBlog">
                    <a  class="post-link" href="{{site.baseurl}}{{ post.url }}">
                    <img class="categ-img" src="{{site.baseurl}}{{ post.one_path }}" alt="beijing">
                     <div class="smallBlogText">{{ post.blog_title }}
                    <span class="postDate">{{ post.url | date: "%b %-d, %Y" }} </span></div></a>
                    <div class="post-snippet blogContainer"> 
                         {{ post.excerpt }}
                    </div>
                </div>
        </div>
  
        
      {% endfor %}
    </div>
    </div>
  -->
  <div>

    <h1 class="page-heading">Posts</h1>

    <div id="search-searchbar"></div>
  
    <div class="post-list" id="search-hits">
      {% for post in site.posts %}
        <div class="post-item">
          {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
          <span class="post-meta">{{ post.date | date: date_format }}</span>
  
          <h2>
            <a class="post-link" href="{{site.baseurl}}{{ post.url }}">
              {{ post.title | escape }}
            </a>
          </h2>
  
          <div class="post-snippet">{{ post.excerpt }}</div>
        </div>
      {% endfor %}
    </div>

</div>
<div>
  {% include footer.html %}
<div>
</body>

