---

---
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{{site.baseurl}}/assets/css/main.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/instantsearch.js/dist/instantsearch.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/instantsearch.js/dist/instantsearch.min.css">
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/instantsearch.js/dist/instantsearch-theme-algolia.min.css">
<base href="{{ site.baseurl }}">
{% include algolia.html %}

{% if site.tags != "" %}
  {% include collecttags.html %}
{% endif %}
</head>

<body>
 <div class="postHeading">
    <div>
        <!-- Nav bar with social medias -->
        <div class="navBar"> 
                <a href="{{site.baseurl}}" class="home socMed" >{% include icons/home.html %}</a>      
                <a href="https://www.facebook.com/mali.princ2" target="_blank" class="socMed" >{% include icons/facebook.html %}</a>
                <a href="https://www.instagram.com/marljiva_marta/" target="_blank" class="socMed" >{% include icons/insta.html %}</a>
                <a href="https://twitter.com/Marta_Guth" target="_blank" class="socMed" >{% include icons/twitter.html %}</a>
                <a href="https://www.linkedin.com/feed/?trk=" target="_blank" class="socMed" >{% include icons/linkedin.html %}</a>    
        </div>
      </div>
        <!-- end of Nav bar with social medias -->
    
 </div>

 <div class="flex-container clearfix">

  <div class="bigger">
    <!-- All Posts -->
    <div class="grey">
        <h2>All Posts</h2>
    </div>

    <div class="flex-container table">
      {% for post in site.posts %}
      <div class="category-box">
        <div class="whiteBox smallCategBlog">
            <a  href="{{site.baseurl}}{{ post.url }}">
                <img class="categ-img" src="{{site.baseurl}}{{ post.one_path }}" alt="beijing">
                <div class="smallBlogText">{{ post.blog_title }}
                <span class="postDate">{{ post.url | date: "%b %-d, %Y" }} </span></div>
            </a>
            <div>
                 <div class="blogContainer"> 
                     {{ post.excerpt }}
                </div>
            </div>    
       </div>
      </div>
{% endfor %}
  </div>
 </div>

<div class="smaller" style="margin:20px;">
   <div class="grey">
    <h2>Search by tags</h2>
   </div>
   <div class="tagBox whiteBox">
      
        <a href="tag/{{ tag | slugify }}"  > {{ tag }} </a>
       
        <div class="category-box">
          <div class="whiteBox smallCategBlog">
                  <a  href="{{site.baseurl}}{{ post.url }}">
                      <div class="smallBlogText">{{ post.blog_title }}
                      <span class="postDate">{{ post.url | date: "%b %-d, %Y" }} </span></div>
                  </a>
          </div>
  </div>
  
      
      
   </div>
</div>

  {% for tag in tags %}
	<a href="tag/{{ tag | slugify }}" target=_blank >{{ tag }}</a>
	<ul class="tagBox whiteBox">
	 {% for post in site.posts %}
		 {% if post.tags contains tag %}
		 <li class="category-box"><h3><a href="{{ post.url }}">
		 {{ post.title }}
		 <small>{{ post.date | date_to_string }}</small>
		 </a></h3></li>
		 {% endif %}
	 {% endfor %}
	</ul>
{% endfor %}

{% include collecttags.html %}

</div>
<div>
  {% include footer.html %}
<div>
</body>

