<script type="text/javascript" src="//downloads.mailchimp.com/js/signup-forms/popup/embed.js" data-dojo-config="usePlainJson: true, isDebug: false"></script><script type="text/javascript">require(["mojo/signup-forms/Loader"], function(L) { L.start({"baseUrl":"mc.us18.list-manage.com","uuid":"18a1deab68d88323607912764","lid":"dbaea1689b"}) })</script>
<div>
    <!-- Nav bar with social medias -->
    <div class="navBar"> 
        <a href="https://www.facebook.com/mali.princ2" target="_blank" class="socMed" >{% include icons/facebook.html %}</a>
        <a href="https://www.instagram.com/marljiva_marta/" target="_blank" class="socMed" >{% include icons/insta.html %}</a>
        <a href="https://twitter.com/Marta_Guth" target="_blank" class="socMed" >{% include icons/twitter.html %}</a>
        <a href="https://www.linkedin.com/feed/?trk=" class="socMed" >{% include icons/linkedin.html %}</a>
        <a href="searchAll.html" target="_blank" class="searchRight socMed"><i>{% include icons/search.html %}</i></a>       
    </div>
    <!-- end of Nav bar with social medias -->

    <!-- Content div -->
     <div> 
        <div class="mainrow">
         <div>
             <h1 class="main">Marta Gut</h1>
             <h5 class="underMain">Depressed Traveller</h5>
         </div>
         <!-- Big Image Header -->
         <div class="imgContainer">
             <img class="image" src="{{site.baseurl}}\img\imageHeader2.jpg"  alt="imageHeader"/>
             <div class="imgText">
                   <h1 class="title"><span>Why I Should Have Stayed At Home</span></h1>
                   <span><button class="subscribebutt" type="button" value="button text" onclick="subClick();">Subscribe</button></span>
             </div>
         </div>
        </div>
          <!--End of Big Image Header -->
	 </div>
	 
</div>


