.greyFoot{
    background:#565e6c;
    display: block;
    margin-top: 10px;
    position: relative;
    margin: auto;
    padding-bottom: 2%;
  }
  footer{
      bottom: 0px;
      clear: both;
  }
  .plane{
      width: 65px;
      height: 65px;
      margin: 10px;
      position: fixed;
      display: none;
      z-index: 5;
      bottom: 20px;
      left: 30px;
      border-radius: 50%;
      background-color: rgba(255,255,255,0.4);
  }

  .flex-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
  }

  .previousWise, .nextWise{
    cursor: pointer;
    width: auto;
    color: white;
    font-size: 4vw;
    transition: 0.5s ease;
    z-index: 1;
    margin: 10px;
    border-radius: 10%;
    padding: 20px;
  }
  
  .nextWise{
    right:0;
    order: 3;
  }
  .previousWise{
    left: 0px;
    order: 1;
  }
  
  .previousWise:hover, .nextWise:hover{
    background-color: rgba(0, 0, 0, 0.4);
    font-size: 5vw;
  }

  .motivation{
      text-align: center;
      margin: auto;
      padding-top: 25px;
      order: 2;
      height: 150px;
      width: 70%;
      color: white;
  }

  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  @-webkit-keyframes fade{
    from {opacity: 0.4}
    to {opacity: 1}
  }
  
  @keyframes fade{
    from {opacity: 0.4}
    to {opacity: 1}
  }

  @media (max-width: 700px) {
   .flex-container{
     flex-direction: column;
   }
   .previousWise, .nextWise{
    margin: auto;
    padding: 20px;
  }
  }
 @media (max-width: 400px) {
        .flex-container{
          flex-direction: column;
        }
        .motivation{
          margin: auto;
          padding-top: 0px;
          order: 2;
          height: 150px;
          width: 90%;
          color: white;
        }
      }
  

  