.greyFoot{
    background:#565e6c;
    padding: 10px;
    display: block;
    margin-top: 10px;
    position: relative;
    margin: auto;
  }
  footer{
      bottom: 0px;
      clear: both;
  }
  .plane{
      width: 65px;
      height: 65px;
      margin: 10px;
      position: fixed;
      display: none;
      z-index: 5;
      bottom: 20px;
      left: 30px;
      border-radius: 50%;
      background-color: rgba(255,255,255,0.4);
  }

  .flex-container{
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: space-between; 
  }

  .previousWise, .nextWise{
    cursor: pointer;
    width: auto;
    color: white;
    font-size: 35px;
    transition: 0.5s ease;
    z-index: 1;
    margin: 10px;
    border-radius: 10%;
    padding: 20px;
  }
  
  .nextWise{
    right:0;
    order: 3;
  }
  .previousWise{
    left: 0px;
    order: 1;
  }
  
  .previousWise:hover, .nextWise:hover{
    background-color: rgba(0, 0, 0, 0.4);
    font-size: 40px;
  }

  .motivation{
      text-align: center;
      margin: auto;
      padding-top: 25px;
      order: 2;
      height: 150px;
      width: 600px;
      color: white;
  }

  

  