
body{
    background-color: #f6f5f3;
}
.navBar {
    background: #565e6c; 
    padding: 2%;
    margin: 0px;
    display: block;
    }
.searchRight {
    float: right;
    }
.socMed {
    padding: 2%;
    display: inline-block;   
    }
.socMed:hover {
    background-color: #f6f5f3;
    }
.mainrow {
        display: block;
        margin: 0;
        padding: 0;
        }
.main {
    font-family: 'Oswald', sans-serif;
    font-size: 5vw;
    font-weight: bold; 
    text-align: center; 
    color: #565e6c; 
    display: block;
    }
.underMain {
    font-family: 'Oswald', sans-serif;
    font-size: 3vw;
    font-weight: bold; 
    text-align: center; 
    color: #565e6c; 
    display: block; 
    }
    
    .imgContainer {
        position: relative;
        display: block;
        padding: 0; 
        }
    .image {
        display: block;
        margin: 0;
        padding: 0;
        width: 100%;
        height: auto;
        float: left;
        }
    .imgText {
        display: block;
        position: absolute;
        }
    .title{
        z-index: 100;
        //text-shadow: 4px 2px 5px #565e6c;
        padding: 1%;
            font-size: 5vw; 
            color:#f6f5f3;
            margin: 0;
            text-align: center; 
        }
.subscribebutt {
    background-color: #f6dba4;
    border: none; 
    color: #565e6c;
    border-radius: 30px;
    font-family: 'Oswald', sans-serif;
    font-size: 3vw;
    padding: 1%;
    position: absolute;
    right: 10%;
    font-weight: bold;
    font-variant: small-caps;
        }
.subscribebutt:hover {
        -webkit-box-shadow: 18px 10px 43px -8px rgba(0,0,0,0.64);
        -moz-box-shadow: 18px 10px 43px -8px rgba(0,0,0,0.64);
        box-shadow: 18px 10px 43px -8px rgba(0,0,0,0.64);
    }
    @media (max-width: 1100px){
        .imgContainer {
            position: relative;
            display: block;
            color: #565e6c;
            padding: 0; 
            }
         .mainrow {
            display: block;
            margin: 0;
            padding: 0;
            }
        .image {
            float: left;
            display: block;
            margin: 0;
            padding: 0;
                 width: 100%;
            height: auto;
            }
        .imgText {
            z-index: 100;
            position: absolute;
            display: block;
            text-shadow: 4px 2px 5px #f6dba4;
            padding-top: 5%;
            padding-left: 5%;
            }
        .title{
                font-size: 5vw;
            }
        .subscribebutt {
            background-color: #f6dba4;
            border: none; 
            color: #565e6c;
            border-radius: 15px;
            font-family: 'Oswald', sans-serif;
            font-size: 4vw;
            padding: 2%;
                }
        .subscribebutt:hover {
                -webkit-box-shadow: 18px 10px 43px -8px rgba(0,0,0,0.64);
                -moz-box-shadow: 18px 10px 43px -8px rgba(0,0,0,0.64);
                box-shadow: 18px 10px 43px -8px rgba(0,0,0,0.64);
            }
    }


    @media (max-width: 768px) {
     .imgText {
         margin-right: 5%;

     }
    }
    @media (max-width: 321px){
      
    }