
.flex-container {
    display: flex; 
    flex-wrap: wrap;
    flex-direction: row;
    height: auto;;
    width: 100%;
    margin: 0px;
    clear: both;
}
.bigger {
    flex: 1 1 59%;
    height: auto; 
    padding-right: 3%;
    margin: 20px;
}
.Twoflex-container{
    display: flex; 
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    margin: 0px;
    clear: both;
}
.smaller {
    flex: 1 1 26%;
    height: auto;
}
#readBlogs{
    margin-left: 2%;
}
.blogEntry {
   text-align: center;
   background-color: white;
   padding-left: 2%;
   padding-right: 2%;
   padding-bottom: 4%;
   display: inline-block;
   flex: 1 1 45%;

}
.blogLink {
    text-decoration: none;
    color: black;
}
.blogLink:hover{
    color:  #565e6c;
}
.blogTitle {
   padding-bottom: 1%;
   font-family: 'Oswald', sans-serif;
}
.tithead {
   //font-size: 2vw;
   font-family: 'Oswald', sans-serif;
}
.titleDesc {
   font-family: 'Oswald', sans-serif;
}
.light {
   opacity: 0.5; 
}
.bigPostImage{
   width: 100%;
   height: auto;
   padding-bottom: 4%;
}
.blogContainer {
   text-align: justify; 
   padding-bottom: 3%;
}
.readMore{
    background-color: #f6dba4;
    border: none; 
    border-radius: 15px;
    font-family: 'Oswald', sans-serif;
    padding: 10px;
    text-decoration: none;
    color: black;
}
.readMore:hover{
    -webkit-box-shadow: 18px 10px 43px -8px rgba(0,0,0,0.64);
    -moz-box-shadow: 18px 10px 43px -8px rgba(0,0,0,0.64);
     box-shadow: 18px 10px 43px -8px rgba(0,0,0,0.64);
}

.postDate {
   opacity: 0.5;
   font-size: 10px;
}
.aboutMe, .popular, .advertisement, .tags, .followMe, .subscribe, #mailchimp, .map {
   background: white;
   margin: 20px;
}
.aboutMePic {
  width: 100%;
  height: auto;
}
#mapdiv{
    width: 100%;
    height: 300px;
    margin: auto;
}
.grey {
   background-color: #565e6c;
   margin: 0px;
   color: white;
   padding: 10px;
   text-align: center;
}
.whiteBox{
   padding: 15px;
   text-align: center;
}
.list{
   list-style: none;
}
.postImg{
   width: 100%;
   height: auto;
   margin-left: auto;
   margin-right: auto;
}

a {
    text-decoration: none;
}
.smallBlog {
    margin: 20px;
    justify-content: center;
    transition: 0.2s;
}
.smallBlog:hover{
    border: 1px solid #565e6c;
    background: rgba(246, 219, 164,0.2);
    box-shadow: 0 0 8px 3px  #565e6c;
}
.smallBlogText{
    text-decoration: none;
    color: black;
    margin: 20px;
    text-align: center;
    font-weight: bold;
}
.tagBox{
    text-align: center;
    margin: auto;
}
.tagBox > a {
   background-color: rgba(246, 219, 164,0.2);
   padding: 5px;
   margin: 5px;
   display: inline-block;
   color: black;
}
.tagBox > a:hover{
    background-color: rgba(246, 219, 164,0.6);
}
.socMedTwo {
    padding: 19px;
   display: inline-block;    
   fill: #565e6c;
}
.socMedTwo:hover {
    background-color:rgb(246, 219, 164); 
}
.followMeButt {
   color: rgb(246, 219, 164);
   padding:  10px;
}
.subscribeTwo {
   background-color: #f6dba4;
   border: none; 
   border-radius: 15px;
   font-family: 'Oswald', sans-serif;
   padding: 10px;
}
.subscribeTwo:hover {
   -webkit-box-shadow: 18px 10px 43px -8px rgba(0,0,0,0.64);
    -moz-box-shadow: 18px 10px 43px -8px rgba(0,0,0,0.64);
    box-shadow: 18px 10px 43px -8px rgba(0,0,0,0.64);
}

/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media (max-width: 500px) {
    .bigger, .smaller {   
      //  flex-direction: column;
    }
    #mapdiv{
        max-width: 400px;
        max-height: 300px;
    }

    .blogEntry{
        flex: 1 1 100%
    }
    blockquote {
        display: block;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
    }
    .white-box{
        padding:0px;
        margin:0px;
    }
}
@media (max-width: 300px){
    .bigger, .smaller {   
      //  flex-direction: column;
    }
    #mapdiv{
        max-width: 250px;
        max-height: 200px;
    }
    .bigger {
        padding-right: 0;
        margin: 0;
        padding: 0;
}
.Twoflex-container{
    flex-direction: column;
}
.indicates-required{
    font-size: 10px;
}
.mc-field-group {
    display: block;
    padding: 10px;
}
label {
    display: block;
}
blockquote {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0;
    margin-inline-end: 0;
}
.white-box{
    padding:0px;
    margin:0px;

}
.tagSearch{
    font-size: 5vw;
}
}


   /*
   @media (max-width: 321px){
    .bigger, .smaller {   
        flex-direction: column;
    }
   }
   */