
body {font-family: Verdana, sans-serif; margin:0}

.home{
  float: left;
}

.greyPost{
  background:#565e6c;
  padding: 1%;
  display:block;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 1%;
}

.postHeading{
    background: white; 
    text-align: center;
    color: #565e6c;
    font-size: 2vw;
}
.postText{
  padding: 2%;
  text-align: justify;
}
.bigPostImage{
  margin: 0px;
  width: 100%;
  height: auto;
}

.flex-container{
  display: flex;
  flex-direction: row;
  flex-wrap:wrap;
  justify-content: space-between; 
  
}

.left{
  flex: 73%;
  position: relative;
}

.right{
   flex: 25%;
   overflow-y: auto;
   max-height: 600px;
}

.slideshowContainer{
    max-width: 1000px;
    margin: auto;
    height: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.slideshowPic{
    display: none;
    height: 500px;
    width: auto;
    margin-top: auto;
    margin-bottom: auto;
    
}
.oneImage{
  height: 100%;
  display: block;
  margin:  auto;
  padding: 10px;
  border: 1px solid #565e6c;
  border-radius: 4px;
  background-color: white;
  box-shadow: 0 0 3px 1px  #565e6c;
  max-width: 600px;
  max-height: 550px;
}

.oneImage:hover{
  box-shadow: 0 0 8px 3px  #f6dba4;
}

.previous, .next{
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  color: #565e6c;
  font-size: 35px;
  transition: 0.5s ease;
  z-index: 1;
  margin: 10px;
  border-radius: 10%;
}

.next{
  right:0;
}

.previous:hover, .next:hover{
  background-color: rgba(0, 0, 0, 0.4);
  font-size: 40px;
}

.captionDiv{
  background-color:rgba(86,94,108,0.5);
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  top: 99%;
}

.captionText{
  text-align: center;
  font-size: 18px;
  color: #f6dba4;
  
}

.picNumber{
  position: absolute;
  font-size: 20px;
  top: 0;
  padding: 10px;
}

.dots{
  position: absolute;
  bottom: 10px;
  margin: auto;
  width: 100%;
  text-align: center;
}

.dot{
  cursor: pointer;
  width:20px;
  height: 20px;
  border-radius: 50%;
  background-color: #565e6c;
  opacity: 0.4;
  display: inline-block;
  transition: background-color 0.5s ease;
  z-index: 10;
}

.dot:hover, .active {
  opacity:1;
}
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
@-webkit-keyframes fade{
  from {opacity: 0.4}
  to {opacity: 1}
}

@keyframes fade{
  from {opacity: 0.4}
  to {opacity: 1}
}

.goUp {
  -webkit-animation-name: goUp;
  -webkit-animation-duration: 1.5s;
  animation-name: goUp;
  animation-duration: 1.5s;
}

@keyframes goUp{
  from {top:99%;
  opacity: 0;}
  to {top: 70%;
  opacity:1}
}
@-webkit-keyframes goUp{
  from {top:99%;
    opacity: 0;}
    to {top: 70%;
    opacity:1}
}

.oneRow{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around; 
  border: 2px solid  #565e6c;
  border-radius: 15px;
  margin: 2%;
}
.columnPic{
  padding: 5px;
}

.cursor{
  cursor: pointer;
}
.sidePic{
  opacity: 0.4;
  max-width: 100%;
  height: 200px;
}
.sidePic:hover, .active{
  opacity: 1;
  transition: opacity 0.5s ease;
}
@media (max-width : 768px) {
  .oneImage{
    max-width: 450px;
    max-height: 400px;
    
  }
  .flex-container{
    flex-direction: column;
  }
  .right{
    padding-top: 10px;
  }
  .sidePic {
    height: 100px;
  }
}


/* Smartphones (portrait and landscape) ----------- */
@media  (min-width : 320px) and (max-width : 480px) {
  .prev, .next, .text {
    font-size: 11px;
  }
  .flex-container{
    flex-direction: column;
  }
  .oneImage{
    max-width: 350px;
    max-height: 300px;

}
.sidePic {
  height: 70px;
}
}
.pageNavigation{
  flex: 1 1 45%;
  width: auto;
  display: block;
  height: 100%;
  clear: both;
}
.prevBlog{
  width: 45%;
  float: left;
  display: block;
}
.nextBlog{
  width: 45%;
  float: right;
  display: block;
}
h4{
  color: #565e6c; 
}
.comments{
  flex: 1 1 45%;
}
.readMoreCategory{
  clear: both;
}