
body {font-family: Verdana, sans-serif; margin:0}

.grey{
  background:#565e6c;
  padding: 10px;
  display:block;
  text-align: center;
  margin-top: 10px;
}

hr { 
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: 10px;
  margin-right: 10px;
  border-style: inset;
  border-width: 2px;
  color: #565e6c;
  
}

.postHeading{
    background: white; 
    text-align: center;
    color: #565e6c;
    font-size: 25px;
}
.postText{
  padding: 20px;
  text-align: justify;
}
.bigPostImage{
  margin: 0px;
  width: 100%;
  height: auto;
}

.flex-container{
  display: flex;
  flex-direction: row;
  flex-wrap:wrap;
  justify-content: space-between; 
  
}

.left{
  flex: 59%;
  border-right: 2px solid #565e6c;
  background-image: url(/img/OrangePolka.png);
}

.right{
   flex: 40%;
   overflow-y: auto;
   max-height: 600px;
}

.slideshowContainer{
    max-width: 1000px;
    position: relative;
    margin: auto;
}

.slideshowPic{
    display: none;
    height: 500px;
    margin-top: auto;
    margin-bottom: auto;
}
.oneImage{
  max-width: 100%;
  height: auto;
  display: block;
  margin:  auto;
  padding: 10px;
  border: 1px solid #565e6c;
  border-radius: 4px;
  background-color: white;
  box-shadow: 0 0 3px 1px  #565e6c;
}
.oneImage:hover{
  box-shadow: 0 0 8px 3px  #f6dba4;
}

.previous, .next{
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  color: #565e6c;
  font-size: 35px;
  transition: 0.5s ease;
  z-index: 1;
  margin: 10px;
  border-radius: 10%;
}

.next{
  right:0;
}

.previous:hover, .next:hover{
  background-color: rgba(0, 0, 0, 0.4);
  font-size: 40px;
}

.captionDiv{
  background-color:rgba(86,94,108,0.5);
  top:70%;
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
}
.captionText{
  text-align: center;
  font-size: 18px;
  color: #f6dba4;
  top:80%;
  
}

.picNumber{
  position: absolute;
  font-size: 20px;
  top: 0;
}

.dots{
  text-align: center;
  top: 95%;

}

.dot{
  cursor: pointer;
  width:20px;
  height: 20px;
  border-radius: 50%;
  background-color: #565e6c;
  opacity: 0.4;
  display: inline-block;
  transition: background-color 0.5s ease;
}

.dot:hover, .active {
  opacity:1;
}
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
@-webkit-keyframes fade{
  from {opacity: 0.4}
  to {opacity: 1}
}

@keyframes fade{
  from {opacity: 0.4}
  to {opacity: 1}
}

@media only screen and (max-width: 300px) {
  .prev, .next, .text {
    font-size: 11px;
  }
}
.oneRow{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around; 
}
.columnPic{
  flex: 33%;
  padding: 5px;
}

.cursor{
  cursor: pointer;
}
.sidePic{
  opacity: 0.4;
}
.sidePic:hover, .active{
  opacity: 1;
  transition: opacity 0.5s ease;
}
