---
layout: page
---
<head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{site.baseurl}}/assets/css/main.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>

<body>
<div class="postHeading">
    <div>
        <!-- Nav bar with social medias -->
        <div class="navBar">
                <a href="{{site.baseurl}}" class="home socMed" >{% include icons/home.html %}</a>      
                <a href="https://www.facebook.com/mali.princ2" target="_blank" class="socMed" >{% include icons/facebook.html %}</a>
                <a href="https://www.instagram.com/marljiva_marta/" target="_blank" class="socMed" >{% include icons/insta.html %}</a>
                <a href="https://twitter.com/Marta_Guth" target="_blank" class="socMed" >{% include icons/twitter.html %}</a>
                <a href="https://www.linkedin.com/feed/?trk=" target="_blank" class="socMed" >{% include icons/linkedin.html %}</a>      
        </div>
      </div>
        <!-- end of Nav bar with social medias -->
    
        <div>
            <h1>Why you shouldn't go to {{ page.category }}</h1>
        </div>
</div>


<div class="flex-container table">
{% for post in site.categories[page.category] %}
<div class="category-box">
        <div class="whiteBox smallCategBlog">
                <a  href="{{site.baseurl}}{{ post.url }}">
                    <img class="categ-img" src="{{site.baseurl}}{{ post.one_path }}" alt="beijing">
                    <div class="smallBlogText">{{ post.blog_title }}
                    <span class="postDate">{{ post.url | date: "%b %-d, %Y" }} </span></div>
                </a>
                <div>
                     <div class="blogContainer"> 
                         {{ post.excerpt }}
                    </div>
                </div>    
        </div>
</div>
{% endfor %}
</div>

<div class="blog list">
        <h1>Filed Under <small>#{{ page.tag }}</small></h1>
    
        {% for post in site.categories[page.tag] %}
            {% include post_preview.html %}
        {% endfor %}
    </div>

    <h1>{{ page.title }}</h1>
<div class="tags">
    {% assign sortedCategories = page.categories | sort %}
    {% for category in sortedCategories %}
        <span class="tag">
            <a href="/category/{{ category }}">#{{ category }}</a>
        </span>
    {% endfor %}
</div>

<div>
{% include footer.html %}
</div>
<script href="{{site.baseurl}}/js/footer.js"></script>
</body>