---
---
<!DOCTYPE html>
<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link rel="stylesheet" href="{{site.baseurl}}/assets/css/main.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style src="js/post.js"></style>
</head>
<body>

<div class="postHeading">
    <div>
        <!-- Nav bar with social medias -->
        <div class="navBar"> 
          <a href="{{site.baseurl}}" class="home socMed" >{% include icons/home.html %}</a>      
          <a href="https://www.facebook.com/mali.princ2" target="_blank" class="socMed" >{% include icons/facebook.html %}</a>
          <a href="https://www.instagram.com/marljiva_marta/" target="_blank" class="socMed" >{% include icons/insta.html %}</a>
          <a href="https://twitter.com/Marta_Guth" target="_blank" class="socMed" >{% include icons/twitter.html %}</a>
          <a href="https://www.linkedin.com/feed/?trk=" target="_blank" class="socMed" >{% include icons/linkedin.html %}</a> 
        </div>
      </div>
        <!-- end of Nav bar with social medias -->
    
  <h1 class="postTitle">{{ page.blog_title }}</h1>
  <div>
      <img class="bigPostImage" src="{{site.baseurl}}{{ page.one_path }}" alt="Picture">
    </div>
</div>  

<div class="postText">
{{ content }}
</div>

<div class="grey">
  <h2>Gallery</h2>
</div>

<div class="flex-container">
  
  <div class="left">
  <!-- Slideshow -->
    <div class="slideshowContainer">
      {% for image in page.images %}
        <div class="slideshowPic fade">
          <div class="picNumber">{{ image.image_number }}</div>
          <img src="{{site.baseurl}}{{image.image_path}}" class="oneImage" alt="{{image_name}}">
          <div class="captionDiv goUp"><p class="captionText">{{image.text}}</p></div>
        </div>
      {% endfor %}
  
      <a class="previous" onclick="plusSlides(-1)">&#10094;</a>
      <a class="next" onclick="plusSlides(1)">&#10095;</a>

      <div class="dots">
          {% for image in page.images limit:5 %}
          <span class="dot"  onclick="currentSlide({{image.image_number}})"></span>
          {% endfor %}
      </div>
    </div>
  </div>

  <div class="right">
    <div class="oneRow">
        {% for image in page.images %}
        <div class="columnPic cursor">
          <img class="sidePic" onclick="currentSlide({{image.image_number}})" src="{{site.baseurl}}{{image.image_path}}" style="height:200px" alt="Jinin">
         </div>
        {% endfor %}
      
  </div>
  </div>
</div>

<hr>

<div class="flex-container">

    <div class="comments" style="padding-right: 2%">
        <div class="grey">
          <h3>Comments</h3>
        </div>
        
        <div class="fb-comments" data-href="{{site.url}}" data-numposts="10" data-width="400px"> </div>
        
        <div id="fb-root"></div>
        </div>


<div class="pageNavigation">
    <div class="grey" style="padding-left: 2%">
        <h3>Read More</h3>
      </div>
    {% if page.previous.url %}
      <a class="prevBlog" href="{{site.baseurl}}{{page.previous.url}}">
      <div class="whiteBox smallBlog">
              <h4>&laquo; Read Previous Blog</h4>
              <img  class="postImg" src="{{site.baseurl}}{{ page.previous.one_path }}" alt="beijing">
              <div class="smallBlogText">{{ page.previous.blog_title }}
              <span class="postDate">{{ page.previous.url | date: "%b %-d, %Y" }} </span></div>
      </div>
      </a>
    {% endif %}
    {% if page.next.url %}
      <a class="nextBlog" href="{{site.baseurl}}{{page.next.url}}">
      <div class="whiteBox smallBlog">
              <h4>Read Next Blog &raquo;</h4>
              <img  class="postImg" src="{{site.baseurl}}{{ page.next.one_path }}" alt="beijing">
              <div class="smallBlogText">{{ page.next.blog_title }}
              <span class="postDate">{{ page.next.url | date: "%b %-d, %Y" }} </span></div>
      </div>
      </a>
    {% endif %}
  

  <div class="readMoreCategory">
      {% unless page.category == null %}
      {% capture pageCategory %}{{ page.category }}{% endcapture %}
      {% unless site.categories[pageCategory].size == 1 %}
        <div>
            <div class="grey" style="padding-left: 2%">
                <h3>Read More about {{ page.category }} </h3>
            </div>
          <div>
            {% for post in site.categories[pageCategory] limit:6 %}
              {% unless post.title == page.title %}
              <div class="whiteBox smallBlog">
                  <a  href="{{site.baseurl}}{{ post.url }}">
                      <img  class="postImg" src="{{site.baseurl}}{{ post.one_path }}" alt="beijing">
                      <div class="smallBlogText">{{ post.blog_title }}
                      <span class="postDate">{{ post.url | date: "%b %-d, %Y" }} </span></div>
                  </a>
              </div>
              {% endunless %}
            {% endfor %}
          </div>
        </div>
      {% endunless %}
    {% endunless %}

  </div>
</div>

</div>

{% include footer.html %}
<script>


  // slide index is the position of the picture in the array of pictures
var slideIndex = 1;
// show the first image by default when loading the page
showSlides(slideIndex);

// Next/previous controls
function plusSlides(n) {
  showSlides(slideIndex += n);
}

// Thumbnail image controls
function currentSlide(n) {
  showSlides(slideIndex = n);
}

function showSlides(n) {
  var i;
  var slides = document.getElementsByClassName("slideshowPic");
  var dots = document.getElementsByClassName("dot");
  var sidePicture = document.getElementsByClassName("sidePic");
  if (n > slides.length) {slideIndex = 1} 
  if (n < 1) {slideIndex = slides.length}
  for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none"; 
  }
  for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" active", "");
  }
  for (i = 0; i < sidePicture.length; i++) {
      sidePicture[i].className = sidePicture[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "block"; 
  dots[slideIndex-1].className += " active";
  sidePicture[slideIndex-1].className += " active";
}

 $(function(){
$('.captionDiv').animate({'top': '70%'}, 1000);
});
</script>

<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.12';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

</body>
</html>